.header {
    height: 4em;
    background-color: #8C9FFD;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
  }

  .title
  {
    text-transform: uppercase;
    color: white;
    font-size: larger;
    font-family: "Montserrat";
  }

  .navBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    flex-flow: row;
  }
  .navBar li {
    list-style: none;
    width: fit-content;
    font-size: larger;
    color: white;
    font-family: "Montserrat";
    font-weight: bolder;
    text-transform: uppercase;
    padding-left: 4.5em;
  }

  .navBar ul {
    display: flex;
    color: white;
}